In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [2]:
Stocks = pd.read_csv('Data/sandp500/all_stocks_5yr.csv')

In [3]:
StocksDrop = Stocks.drop(['Name'],axis = 1)
Stocks2015 = StocksDrop.loc[(StocksDrop['date'].str.contains('2015'))]
Stocks2015['log10_volume'] = np.log10(Stocks2015['volume'])
Stocks2015

C:\Users\tkjie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

              date    open     high      low   close    volume  log10_volume
478     2015-01-02  54.280  54.6000  53.0700  53.910  10756705      7.031679
479     2015-01-05  54.370  54.5400  53.3400  53.875  11565004      7.063146
480     2015-01-06  54.270  54.4300  52.1300  53.040  13772171      7.139002
481     2015-01-07  53.380  53.6500  52.1200  53.010  10069816      7.003022
482     2015-01-08  53.480  54.2800  53.2500  53.660   9672064      6.985519
483     2015-01-09  53.670  53.9100  51.8200  52.020  12351638      7.091725
484     2015-01-12  51.060  51.4500  49.2000  49.580  18261336      7.261533
485     2015-01-13  50.120  51.4300  49.4600  50.400  12259271      7.088465
486     2015-01-14  49.410  50.2300  48.1000  49.410  15684697      7.195476
487     2015-01-15  49.135  50.4000  48.5800  49.410  10399684      7.017020
488     2015-01-16  49.380  49.9700  48.2700  49.810  12978011      7.113208
489     2015-01-20  51.000  52.8300  49.9345  52.750  15157342      7.180623
490     2015-01-21  52.650  54.0000  51.9500  53.670  12882227      7.109991
491     2015-01-22  54.520  55.8200  53.9100  55.590  16201053      7.209543
492     2015-01-23  55.400  55.9800  54.8000  55.690   9488822      6.977212
493     2015-01-26  55.890  56.2000  54.7300  55.450  13353937      7.125609
494     2015-01-27  53.990  54.5200  52.5400  52.695  19810717      7.296900
495     2015-01-28  52.790  53.6990  50.3000  50.620  17064794      7.232101
496     2015-01-29  51.045  52.4200  50.5700  52.240  16618856      7.220601
497     2015-01-30  52.020  52.1300  48.6300  49.080  18473105      7.266540
498     2015-02-02  48.580  48.9300  46.2100  48.720  22413054      7.350501
499     2015-02-03  47.300  48.1600  46.5500  47.500  16678900      7.222167
500     2015-02-04  48.620  49.7900  48.2300  49.460  11836762      7.073233
501     2015-02-05  49.460  49.4600  47.6000  48.810   9220865      6.964772
502     2015-02-06  48.840  49.4700  47.8900  48.145   8650092      6.937021
503     2015-02-09  46.410  47.2350  45.9500  46.530  12961897      7.112669
504     2015-02-10  47.400  48.3750  46.9000  48.050   9085330      6.958341
505     2015-02-11  48.790  48.9500  47.3500  47.590  10060185      7.002606
506     2015-02-12  46.750  48.5000  46.4000  47.880   9542801      6.979676
507     2015-02-13  47.530  48.4000  46.6500  48.390   9895724      6.995448
...            ...     ...      ...      ...     ...       ...           ...
618481  2015-11-18  45.810  47.2000  45.3600  47.180   3377964      6.528655
618482  2015-11-19  47.050  47.2100  46.5700  46.900   2928496      6.466645
618483  2015-11-20  47.000  47.5690  46.8600  47.320   3679430      6.565781
618484  2015-11-23  47.230  47.4300  46.6115  46.960   3265258      6.513918
618485  2015-11-24  46.560  46.9900  46.3000  46.930   1713458      6.233873
618486  2015-11-25  46.800  47.2300  46.6600  46.970   2196761      6.341783
618487  2015-11-27  47.140  47.2300  46.9100  47.080   1155073      6.062609
618488  2015-11-30  47.080  47.2500  46.4600  46.700   3481867      6.541812
618489  2015-12-01  46.810  47.1300  46.2100  47.010   2956927      6.470841
618490  2015-12-02  47.070  47.1800  46.0700  46.370   2335144      6.368314
618491  2015-12-03  46.480  46.5400  44.9400  45.200   2465441      6.391895
618492  2015-12-04  45.360  46.4950  45.1700  46.460   2237818      6.349825
618493  2015-12-07  46.470  46.8300  45.3500  45.910   2108735      6.324022
618494  2015-12-08  45.450  46.2000  45.4000  45.940   1335773      6.125733
618495  2015-12-09  45.610  46.1800  44.9700  45.210   1768035      6.247491
618496  2015-12-10  45.160  46.4900  45.1500  46.100   2472296      6.393100
618497  2015-12-11  45.390  46.0002  45.3300  45.830   4233680      6.626718
618498  2015-12-14  45.850  46.6400  45.5500  46.590   3895918      6.590610
618499  2015-12-15  47.050  47.6500  46.8700  46.970   4154091      6.618476
618500  2015-12-16  47.420  47.5500  46.1600  47.090   3441944      6.536804
618501  2015-12-17  47.270  47.5700  46.4925  46.730   2642412      6.422001
618502  2015-12-18  46.600  47.6198  46.4900  46.600   5439713      6.735576
618503  2015-12-21  46.830  47.3700  46.5600  47.340   2467076      6.392183
618504  2015-12-22  47.500  48.4600  47.3900  47.720   2404647      6.381051
618505  2015-12-23  47.840  48.1000  47.6100  47.980   2368420      6.374459
618506  2015-12-24  47.860  48.4500  47.6300  48.130    965268      5.984648
618507  2015-12-28  47.960  48.2000  47.5900  47.900    928748      5.967898
618508  2015-12-29  48.370  48.6200  47.9600  48.330   1483846      6.171389
618509  2015-12-30  48.330  48.6450  48.0050  48.260   1453861      6.162523
618510  2015-12-31  47.930  48.4000  47.8100  47.920   1768460      6.247595

[123719 rows x 7 columns]

In [4]:
M1Stocks2015 = Stocks2015['open'].mean()
M2Stocks2015 = Stocks2015['high'].mean()
M3Stocks2015 = Stocks2015['low'].mean()
M4Stocks2015 = Stocks2015['close'].mean()
T1Stocks2015 = Stocks2015['log10_volume'].sum()
MeanStocks2015 = pd.DataFrame({'open': [M1Stocks2015, 'Null'], 'high': [M2Stocks2015,'Null'], 'low': [M3Stocks2015,'Null'], 'close': [M4Stocks2015,'Null'], 'log_volume':['Null',T1Stocks2015]},index=['Mean','Sum'])
MeanStocks2015

         open     high      low    close log_volume
Mean  84.1338  84.9504  83.2756  84.1347       Null
Sum      Null     Null     Null     Null     786464

In [5]:
Stocks2016 = StocksDrop.loc[(StocksDrop['date'].str.contains('2016'))]
Stocks2016['log10_volume'] = np.log10(Stocks2016['volume'])
Stocks2016

C:\Users\tkjie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log10

C:\Users\tkjie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

              date     open     high      low  close    volume  log10_volume
730     2016-01-04  41.2900  41.3501  40.3000  40.91  12037151      7.080524
731     2016-01-05  41.1800  41.4900  39.9500  40.52  10514164      7.021775
732     2016-01-06  40.0500  41.7000  40.0000  41.23  12393780      7.093204
733     2016-01-07  40.9700  41.5200  39.6800  40.45  11312876      7.053573
734     2016-01-08  40.9400  41.3600  40.2600  40.37   8853096      6.947095
735     2016-01-11  40.5600  41.2000  39.9000  41.08  15877511      7.200782
736     2016-01-12  41.1500  42.3600  40.4800  42.00  12635992      7.101609
737     2016-01-13  42.1700  42.7400  39.6600  40.10  12718577      7.104439
738     2016-01-14  40.2100  40.7800  38.8600  40.55  11756473      7.070277
739     2016-01-15  39.0400  39.8900  38.3700  38.76  18924825      7.277032
740     2016-01-19  39.5900  39.7800  38.2100  38.86  10505908      7.021434
741     2016-01-20  38.5300  39.8450  36.2000  39.06  16089109      7.206532
742     2016-01-21  38.9300  40.0000  38.0200  39.79   9781683      6.990414
743     2016-01-22  40.0000  40.7200  39.5700  40.16   7247031      6.860160
744     2016-01-25  40.0200  40.1600  38.8200  38.88  10113170      7.004887
745     2016-01-26  38.7300  39.7500  38.4400  39.64   8099029      6.908433
746     2016-01-27  40.1500  40.8700  39.4800  39.69  10185956      7.008002
747     2016-01-28  39.6100  39.7900  37.6600  38.14  17112266      7.233308
748     2016-01-29  37.5200  39.0850  36.5982  38.99  20957476      7.321339
749     2016-02-01  39.0000  39.9400  38.6300  39.38  12023520      7.080032
750     2016-02-02  38.8300  38.9700  37.0000  37.03  12401401      7.093471
751     2016-02-03  37.3800  37.6100  35.7550  37.51  12391194      7.093113
752     2016-02-04  37.3400  38.6000  36.7010  38.21   8599627      6.934480
753     2016-02-05  37.7100  38.4900  36.5300  36.75  10072744      7.003148
754     2016-02-08  36.0800  36.1600  34.7600  35.55  12821858      7.107951
755     2016-02-09  34.9300  36.7500  34.9100  36.19  11143254      7.047012
756     2016-02-10  36.5700  37.6400  36.5301  37.12   8114127      6.909242
757     2016-02-11  36.4700  37.2199  36.1700  36.49   8096032      6.908272
758     2016-02-12  36.9200  37.9800  36.4200  37.82   9412821      6.973720
759     2016-02-16  38.1300  38.7700  37.5300  38.61   7147467      6.854152
...            ...      ...      ...      ...    ...       ...           ...
618733  2016-11-17  49.0800  49.5550  48.8000  49.21   3645088      6.561708
618734  2016-11-18  49.2500  50.1100  49.2300  49.89   4747938      6.676505
618735  2016-11-21  49.9500  50.1450  49.7500  50.00   2730212      6.436196
618736  2016-11-22  49.8500  50.0000  49.0700  49.63   3018483      6.479789
618737  2016-11-23  49.3800  50.1800  48.8700  50.18   2056184      6.313062
618738  2016-11-25  50.3500  50.4850  50.0600  50.18    804749      5.905660
618739  2016-11-28  50.0000  50.3900  49.7900  50.15   2695157      6.430584
618740  2016-11-29  50.0300  50.5800  50.0300  50.45   2314144      6.364390
618741  2016-11-30  50.6100  50.8200  50.2700  50.38   3782081      6.577731
618742  2016-12-01  50.4100  50.5500  48.6200  49.16   4252362      6.628630
618743  2016-12-02  49.3200  49.3550  48.5450  49.10   3183437      6.502896
618744  2016-12-05  48.9500  49.8400  48.9500  49.82   2578193      6.411315
618745  2016-12-06  49.6800  50.2300  49.5500  50.22   2573040      6.410447
618746  2016-12-07  51.2000  51.3750  49.7900  51.26   4037819      6.606147
618747  2016-12-08  50.9000  51.7000  50.6600  51.68   3217027      6.507455
618748  2016-12-09  51.8600  52.4800  51.6000  51.89   2664496      6.425615
618749  2016-12-12  51.8200  51.9300  50.7700  50.92   5021825      6.700862
618750  2016-12-13  51.2600  51.4250  50.8100  51.05   5177724      6.714139
618751  2016-12-14  51.0300  51.4700  50.5700  50.84   2890470      6.460968
618752  2016-12-15  52.1700  52.7700  51.6600  52.32   3995397      6.601560
618753  2016-12-16  52.4600  52.7500  52.2300  52.46   3959794      6.597673
618754  2016-12-19  52.4600  53.0600  52.2600  52.39   2137792      6.329965
618755  2016-12-20  53.2200  53.4800  52.8300  53.10   2580756      6.411747
618756  2016-12-21  53.3300  53.4100  52.7250  53.12   2755192      6.440152
618757  2016-12-22  52.6700  53.3700  52.6700  53.26   1515790      6.180639
618758  2016-12-23  53.2000  53.7800  53.1800  53.78   1942469      6.288354
618759  2016-12-27  53.7800  54.1500  53.6500  53.72   1344976      6.128715
618760  2016-12-28  53.7600  53.8500  53.3500  53.44   1241854      6.094071
618761  2016-12-29  53.4747  53.7790  53.4000  53.62   1047017      6.019954
618762  2016-12-30  53.6400  53.7400  53.2700  53.53   1701204      6.230756

[125324 rows x 7 columns]

In [6]:
M1Stocks2016 = Stocks2016['open'].mean()
M2Stocks2016 = Stocks2016['high'].mean()
M3Stocks2016 = Stocks2016['low'].mean()
M4Stocks2016 = Stocks2016['close'].mean()
T1Stocks2016 = Stocks2016['log10_volume'].sum()
MeanStocks2016 = pd.DataFrame({'open': [M1Stocks2016, 'Null'], 'high': [M2Stocks2016,'Null'], 'low': [M3Stocks2016,'Null'], 'close': [M4Stocks2016,'Null'], 'log_volume':['Null',T1Stocks2016]},index=['Mean','Sum'])
MeanStocks2016

         open     high      low    close log_volume
Mean  85.2143  86.0576  84.3699  85.2531       Null
Sum      Null     Null     Null     Null       -inf

In [7]:
Stocks2017 = StocksDrop.loc[(StocksDrop['date'].str.contains('2017'))]
Stocks2017['log10_volume'] = np.log10(Stocks2017['volume'])
Stocks2017

C:\Users\tkjie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

              date     open    high      low  close    volume  log10_volume
982     2017-01-03  47.2800  47.340  46.1350  46.30   6737752      6.828515
983     2017-01-04  46.6300  47.435  46.3500  46.70   5859604      6.767868
984     2017-01-05  46.5200  46.930  45.6100  45.89   6825316      6.834123
985     2017-01-06  45.8500  46.720  45.4700  46.21   7260197      6.860948
986     2017-01-09  46.0100  47.340  45.7800  47.08   4739142      6.675700
987     2017-01-10  47.0000  48.510  46.9700  48.48   7483764      6.874120
988     2017-01-11  49.2900  49.900  48.1000  48.64   6925770      6.840468
989     2017-01-12  48.6700  49.000  46.8400  48.10   5448098      6.736245
990     2017-01-13  48.1600  48.430  47.5400  47.65   3541980      6.549246
991     2017-01-17  47.5600  47.750  46.6700  46.75   5350794      6.728418
992     2017-01-18  47.3938  47.800  46.6500  47.64   5176524      6.714038
993     2017-01-19  47.6400  48.090  46.8800  47.26   3729315      6.571629
994     2017-01-20  47.5400  48.160  47.2400  48.00   5611793      6.749102
995     2017-01-23  47.9000  48.090  46.7500  46.94   4284196      6.631869
996     2017-01-24  47.0500  47.800  46.8000  47.54   4926677      6.692554
997     2017-01-25  47.9000  48.210  47.6100  47.91   5139002      6.710879
998     2017-01-26  48.4300  49.710  48.3300  49.59  10332849      7.014220
999     2017-01-27  50.0000  50.000  46.7200  46.95  19411050      7.288049
1000    2017-01-30  45.6200  45.920  43.8600  44.90  16786050      7.224949
1001    2017-01-31  44.7900  44.840  43.7420  44.25  11719842      7.068922
1002    2017-02-01  44.7500  45.000  43.9100  44.05   7955513      6.900668
1003    2017-02-02  43.6100  44.520  43.5700  44.01   7607665      6.881251
1004    2017-02-03  44.3100  44.550  43.7627  44.20   6357916      6.803315
1005    2017-02-06  44.8000  45.600  44.7400  45.30   6496054      6.812650
1006    2017-02-07  45.7500  46.130  45.0100  45.17   6119960      6.786749
1007    2017-02-08  45.2600  45.260  44.5100  45.06   4330414      6.636529
1008    2017-02-09  45.0700  46.599  44.9400  46.30   7089902      6.850640
1009    2017-02-10  46.6200  46.700  46.1700  46.45   4040567      6.606442
1010    2017-02-13  46.5600  47.780  46.5000  47.41   6158580      6.789481
1011    2017-02-14  47.2600  47.280  46.4500  46.57   6271654      6.797382
...            ...      ...     ...      ...    ...       ...           ...
618984  2017-11-16  69.9700  70.490  69.7100  70.41   2055575      6.312933
618985  2017-11-17  70.2400  71.120  70.2400  70.79   2355140      6.372017
618986  2017-11-20  70.8000  71.140  70.4900  70.95   2268805      6.355797
618987  2017-11-21  71.0300  72.140  70.9700  71.36   2725360      6.435424
618988  2017-11-22  71.3300  71.830  70.9500  71.07   1437222      6.157524
618989  2017-11-24  71.1700  71.420  70.9300  71.29   1200253      6.079273
618990  2017-11-27  71.4900  71.800  71.2200  71.54   1997531      6.300494
618991  2017-11-28  71.5900  71.630  71.2600  71.39   2610441      6.416714
618992  2017-11-29  71.9900  72.100  71.2800  71.61   1618690      6.209164
618993  2017-11-30  71.8400  72.710  71.8400  72.29   2602127      6.415328
618994  2017-12-01  72.2200  72.350  71.2750  72.30   1932240      6.286061
618995  2017-12-04  72.4400  72.790  70.9950  71.02   3581375      6.554050
618996  2017-12-05  70.8200  71.770  70.6000  70.85   2261514      6.354399
618997  2017-12-06  70.6000  71.110  70.4800  70.97   1507421      6.178235
618998  2017-12-07  70.9700  71.840  70.7600  71.64   2694414      6.430464
618999  2017-12-08  71.8900  71.980  71.2950  71.88   1640004      6.214845
619000  2017-12-11  71.8400  71.970  71.5200  71.77   1172513      6.069118
619001  2017-12-12  71.7700  72.660  71.6400  72.23   1939851      6.287768
619002  2017-12-13  72.1400  72.990  72.0550  72.38   1595095      6.202787
619003  2017-12-14  72.4050  72.460  71.5700  71.76   1364454      6.134959
619004  2017-12-15  72.2100  72.270  71.5200  71.96   2843187      6.453805
619005  2017-12-18  72.3500  72.920  71.9100  72.63   1657818      6.219537
619006  2017-12-19  72.8300  73.580  72.7300  72.80   1946322      6.289215
619007  2017-12-20  72.8400  73.160  72.1700  72.71   1806257      6.256780
619008  2017-12-21  72.9700  73.310  72.2700  72.28   1163460      6.065751
619009  2017-12-22  72.3000  72.370  71.7900  71.99   1345683      6.128943
619010  2017-12-26  72.4000  72.550  71.9000  72.34    792134      5.898799
619011  2017-12-27  72.5900  72.690  72.2500  72.45   1159771      6.064372
619012  2017-12-28  72.4900  72.600  72.1400  72.39    710499      5.851563
619013  2017-12-29  72.5500  72.760  72.0400  72.04   1704122      6.231501

[126032 rows x 7 columns]

In [8]:
M1Stocks2017 = Stocks2017['open'].mean()
M2Stocks2017 = Stocks2017['high'].mean()
M3Stocks2017 = Stocks2017['low'].mean()
M4Stocks2017 = Stocks2017['close'].mean()
T1Stocks2017 = Stocks2017['log10_volume'].sum()
MeanStocks2017 = pd.DataFrame({'open': [M1Stocks2017, 'Null'], 'high': [M2Stocks2017,'Null'], 'low': [M3Stocks2017,'Null'], 'close': [M4Stocks2017,'Null'], 'log_volume':['Null',T1Stocks2017]},index=['Mean','Sum'])
MeanStocks2017

         open     high     low    close log_volume
Mean  98.7771  99.5555  97.981  98.8003       Null
Sum      Null     Null    Null     Null     797937